.page-container {
  padding: var(--space-xl);
}

.form-interior {
  margin: 0 !important;
  padding: 0 !important;
}

.page-title {
    font-family: var(--font-primary) !important;
    font-size: var(--step-1);
    font-weight: 500;
    line-height: 1.2;
    text-align: left !important;
    margin-top: 0 !important;
    margin-bottom: var(--space-l);
}

body, p, .label {
    font-family: var(--font-primary);
    font-size: var(--step-0);
    line-height: 1.6;
    letter-spacing: .01em;
    font-weight: 400;
}

.form-group {
  margin-bottom: var(--space-m) !important;
}

.form-control {
  border-radius: 4px;
  padding: 8px;
}

.was-validated .form-control:valid:focus,
.was-validated .form-control:invalid:focus,
.was-validated .form-control.ng-untouched:invalid:focus {
  border-color: var(--color-default-cyan-03) !important;
  background-color: var(--color-primary-blue-01) !important;
}

.was-validated .form-control.ng-touched:invalid {
  border-color: var(--color-status-error-02) !important;
}

.focus-visible:not(buton):not(a):not(mat-chip):not(mat-expansion-panel-header) {
  outline: 0 !important;
}

.form-control, .btn.browse {
  height: 42px !important;
}

textarea.form-control {
  min-height: 146px;
}

.label {
  margin-bottom: var(--space-xs) !important;
}

.btn:not(.btn-launch) {
    font-family: var(--font-secondary);
    font-size: 18px !important;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 0;
}

button.btn-primary {
    background-color: var(--color-primary-blue-03);
    color: var(--color-white);
    border: 1px solid var(--color-primary-blue-03);
    padding: 12px 40px;
    }

button.btn-primary:hover,
button.btn-primary:focus {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-primary-blue-02);
    outline: none !important;
 }

 button.btn-outline-secondary {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-primary-blue-02);
 }

 button.btn-outline-secondary:hover,
 button.btn-outline-secondary:focus {
    background-color: var(--color-primary-blue-03);
    color: var(--color-white);
    border: 1px solid var(--color-primary-blue-03);
 }

 .f-date button.btn-outline-secondary {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
 }

.f-date button.btn-outline-secondary:hover,
.f-date button.btn-outline-secondary:focus {
    border-color: var(--color-default-cyan-03) !important;
    background-color: var(--color-primary-blue-01);
    box-shadow: none !important;
    color: var(--color-black);
    outline: none !important;
 }

.required-label {
    color: var(--color-status-error-02);
    font-family: var(--font-primary);
    font-size: var(--step--1) !important;
    line-height: 1.6;
    letter-spacing: .01em;
    font-weight: 400;
}

a {
    color: var(--color-primary-blue-03);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-default-cyan-03);
    text-underline-offset: 1px; 
}

a:hover {
    color: var(--color-black);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-default-cyan-03);
    text-underline-offset: 1px;
}

.invalid-feedback { 
    color: var(--color-status-error-02) !important;
    font-family: var(--font-primary);
    font-size: var(--step--1) !important;
    font-weight: 400;
}

hr {
    border-top: 2px dotted var(--color-secondary-grey-02);
    height: 1px;
    margin-bottom: 0;
}

.form-control,
.radio-label {
    font-family: var(--font-secondary);
    font-size: var(--step--1);
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-secondary-grey-05);
}

.form-control::placeholder {
    font-family: var(--font-secondary);
    font-size: var(--step--1) !important;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1.6 !important;
    color: var(--color-secondary-grey-04);
}

.form-control,
.was-validated .form-control:valid,
.was-validated .form-control:not(.ng-touched).ng-invalid:not(select),
.f-date button.btn-outline-secondary,
.dropzone {
  border-color: var(--color-secondary-grey-03) !important;
}

.dropzone {
  border-style: solid !important;
  border-radius: 4px;
}

.dropzone:focus {
    border-color: var(--color-default-cyan-03) !important;
    background-color: var(--color-primary-blue-01) !important;
    box-shadow: none !important;
}

select.form-control {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg' class='svg__icon-caret-down'%3E%3Cpath d='m10 14.729 6 6 6-6' stroke='%23999999' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round' class='svg__stroke--primary-blue-03' /%3E%3C/svg%3E") !important;
  background-size: initial !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--color-primary-blue-03);
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--color-default-cyan-03);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: transparent;
  border-color: var(--color-primary-blue-03);
}

.mat-checkbox-checkmark {
  padding: 1px;
}

.mat-checkbox-checkmark-path {
  stroke: var(--color-default-cyan-03) !important;
}

.mat-checkbox-inner-container {
  height: 20px !important;
  width: 20px !important;
}

input[type=checkbox]:focus {
  outline: none !important;
}
